/* Debug */
/**, *:before, *:after { background-color: rgba(0, 0, 255, 0.1); }*/

/*
 * Variables
 */


$theme-background: #669999;
$theme-header: #EDEDED;
$theme-body-text: #222222;
$theme-alt-bg: $theme-header;
$lightbox-bg: $theme-body-text;

/*
 * Typography
 */

:root {
  font-size: 16px;
  font-family: 'Play', sans-serif;
}

h1 {
  font-family: 'Press Start 2P', cursive;
  font-size: calc((.5rem + 1.5vh + 1.5vw));
  color: $theme-header;
  text-align: center;
}

.img-card .caption {
  font-family: 'Play', sans-serif;
  overflow: hidden;
  word-wrap: break-word;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: $theme-body-text;
}

.lightbox-container .lightbox-nav {
  font-size: 2rem;
  color: $theme-alt-bg;
}

/*
 * Layout
 */

html { box-sizing: border-box; }

*, *:before, *:after { box-sizing: inherit; }

body main {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

header {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

header h1 {
  margin: 1rem auto;
}

.img-grid {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.img-grid .loading-images {
  margin-top: 5rem;
  align-self: center;
  height: 10rem;
  width: 10rem;
}

.img-card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin: 3rem;
}

.img-card .caption {
  padding: 1rem;
}

.lightbox-container {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  opacity: 1;
  z-index: 99999;
}

.lightbox-container .lightbox-nav.close {
  position: fixed;
  top: 1rem;
  right: 1rem;
  height: 3rem;
  width: 3rem;
}

.lightbox-container .lightbox-nav.back,
.lightbox-container .lightbox-nav.forward {
  position: absolute;
  top: 50%;
}

.lightbox-container .lightbox-nav.back {
  left: 0.5rem;
}

.lightbox-container .lightbox-nav.forward {
  right: 0.5rem;
}

/*
 * Aesthetic
 */

/* Body */

body {
  background-color: $theme-background;
}

body main {
  width: 80vw;
  height: 100%;
  margin: 0 auto;
}

/* Header */

header {
  height: 5rem;
  width: 100vw;
  background-color: $theme-background;
}

/* Buttons */

button {
  padding: 0;
  border: none;
  background: transparent;
}

/* Image Card */

.img-card {
  width: calc((20rem + 3vh + 3vw));
  height: 22rem;
  border-radius: 8px;
  box-shadow: 5px 6px 10px black;
}

.img-card:hover {
  box-shadow: 5px 6px 10px $theme-alt-bg;
}

.img-card img {
  width: calc((20rem + 3vh + 3vw));
  height: 18rem;
  object-fit: cover;
  object-position: 0 0;
  border-radius: 8px 8px 0 0;
}

.img-card .caption {
  width: calc((20rem + 3vh + 3vw));
  height: 4rem;
  background-color: $theme-alt-bg;
  border-radius: 0 0 8px 8px;
}

@media (max-device-width : 480px) {
  body main {
    width: 100vw;
  }

  header {
    width: 100%;
  }

  .img-card,
  .img-card img,
  .img-card .caption {
    width: calc((16rem + 3vh + 3vw));
  }
}


/* Lightbox */

.lightbox-container {
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
}

.lightbox-container .img-card {
  height: 80vh;
  width: 70vw;
  margin: 0 3rem;
  background-color: $lightbox-bg;
}

.lightbox-container .img-card img {
  height: 90%;
  width: 100%;
  object-fit: contain;
  object-position: 50% 50%;
}

.lightbox-container .img-card:hover {
  border: none;
  box-shadow: 5px 6px 10px black;
}

.lightbox-container .img-card .caption {
  height: 5rem;
  width: 100%;
}
